{% extends "water_app/base.html" %}

{% load staticfiles %}

{% block title %} <title>Water Project | Add </title>{% endblock %}
{% block body %}
{% if message %}
        	{% if 'fail' in  message%}
           		<div class="alert alert-danger" role="alert">
           			<button type="button" class="close" data-dismiss="alert">×</button>
            		{{ message }} - Please fix errors, refer highled error in red font.
        		  </div>
          {% else %}
           		<div class="alert alert-success" role="alert">
            		<button type="button" class="close" data-dismiss="alert">×</button>
            			{{ message }}
          		</div>
          {% endif %}
  {% elif form.errors %}
      <div class="alert alert-danger" role="alert">
   		     <button type="button" class="close" data-dismiss="alert">×</button>
    	           Please fix errors, refer error text.
	    </div>
  {% endif %}
    <h2>Add Water details</h2>

    <div class="container">
        <div class="row">
          <div class="col col-lg-12">
              <form action={% url "water_add" %} method="post">
                   {% csrf_token %}

                   <div class="col col-lg-3"> {{ form.title.label }} </div>
                   <div class="col col-lg-6"> {{ form.title }} </div>
                   <div class="col col-lg-3"> {{ form.description.label }} </div>
                   <div class="col col-lg-6"> {{ form.description }} </div>
                   <div class="col col-lg-3"> {{ form.coliform_bacteria.label }} </div>
                   <div class="col col-lg-6"> {{ form.coliform_bacteria }} </div>
                   <div class="col col-lg-3"> {{ form.nitrate.label }} </div>
                   <div class="col col-lg-6"> {{ form.nitrate }} </div>
                   <div class="col col-lg-3"> {{ form.ph.label }} </div>
                   <div class="col col-lg-6"> {{ form.ph }} </div>
                   <div class="col col-lg-3"> {{ form.sodium.label }} </div>
                   <div class="col col-lg-6"> {{ form.sodium }} </div>
                   <div class="col col-lg-3"> {{ form.chloride.label }} </div>
                   <div class="col col-lg-6"> {{ form.chloride }} </div>
                   <div class="col col-lg-3"> {{ form.fluride.label }} </div>
                   <div class="col col-lg-6"> {{ form.fluride }} </div>
                   <div class="col col-lg-3"> {{ form.sulphate.label }} </div>
                   <div class="col col-lg-6"> {{ form.sulphate }} </div>
                   <div class="col col-lg-3"> {{ form.iron.label }} </div>
                   <div class="col col-lg-6"> {{ form.iron }} </div>
                     <input type="submit" value="Submit">
               </form>
          </div>
        </div>
    </div>

  {% endblock body %}
